<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mailgun.url" value="https://api.mailgun.net/v3" />
    <add key="mailgun.authHeader" value="api" />
    <add key="mailgun.authSecret" value="key-79d62029eed36e5d7cb9d8671655b054" />
    <add key="sendgrid.url" value="https://api.sendgrid.com/v3/mail/send"/>
    <add key="sendgrid.user" value="apiKey"/>
    <add key="sendgrid.secret" value="SG.vUqZYpbqTLm9cuncoAM4WQ.Dql83238SK1ixyAxAu3xEA3AAtJxJYqTMX3ysKczbqc" />
  </appSettings>
</configuration>